# --- UNITY ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Autogenerados por Unity
sysinfo.txt
UnityGenerated/
*.apk
*.aab

# VSCode / Rider
.vscode/
.idea/

# Logs
*.log

# --- VISUAL STUDIO ---
*.suo
*.user
*.userosscache
*.sln.docstates

# --- API .NET ---
API-Baloncesto/bin/
API-Baloncesto/obj/

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- DOTNET general ---
*.dbmdl
*.bak
*.backup
*.log
*.vs/
